*{
    margin: 0;
    padding: 0;
    /* Hace que el tamaño de las cajas sea predecible */
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.caja-imagen{
    
    text-align: center;
    
    background: white;
    margin: 10px;
    padding: 20;
    border-radius: 20px;
}

.caja-imagen img{
    background-color:red;
    padding: 50px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    
}
.caja-imagen img{
    width: 50%;
    height: auto;
    
    
}

.texto-corto{
    background: white;
    margin: 10px  auto;
    padding: 10px;
    text-align: center;
    font-size: 60px;
    font-weight:bold;
    width: 50%;
}
.texto-largo{
    background: white;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight:bold;
    width: 50%;
    
    
}
.precio {
    background: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 60px;
    color: red;
    font-weight:bold;

         
}
.Btn-add{
    background: rgb(43, 226, 226);
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 70px;
    width: 50%;
    font-size: 30px;
    color: white;
}

