*{
    margin: 0;
    padding: 0;
    /* Hace que el tamaño de las cajas sea predecible */
    box-sizing: border-box;
}
.caja-imagen{
    background: red;
    text-align: center;
}
.texto-corto{
    background: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.texto-largo{
    background: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.precio {
    background: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.carrito{
    background: rgb(110, 110, 238);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
