/* CSS PROYECTO SAAS */
/* 1.RESETEO Y BASES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 2.LAYOUT PRINCIPAL (Flexbox)  */
.app-container{
    display: flex;  /*Ponemos Sidebar y chat en fila*/
    height:100vh; /*Ocupar el 100% de la altura de la ventana*/
    overflow: hidden; /*Evita que la web entera haga scroll*/ 

}

/* 3.SIDEBAR(Barra lateral) */
.sidebar{
    width: 260px; /*Ancho fijo para el menu*/
    background-color: #202123;/*Color oscuro tipo CHATGPT*/
    color: white;
    display: flex;
    flex-direction: column; /*Los elementos del menu van*/
    justify-content: space-between;  /*Logo arriba,perfil abajo*/
    padding: 15px;
}

.menu-lateral button{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 1px solid #4d4d4f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.historial ul {
    margin: 10px;
    padding-left: 20px;
} 

.historial li {
    margin-bottom: 8px;
}

/* 4.AREA DE CHAT (Zona Central) */
.chat-area{
    flex-grow: 1;   /*ocupa todo el espacio restante de la pantalla*/
    display: flex;
    flex-direction: column; /*Cabecera arriba , mensajes centro , input abajo*/
    background-color: #343541;
}
.chat-header{
    padding: 15px;
    border-bottom: 1px solid#4d4d4f;
    color:#ececf1;
    text-align: center;
}
.controles-filtro {
    text-align: center;
    padding: 10px;
    background-color: #202123;
    border-bottom:  1px  solid  #4d4d4f;

}
.controles-filtro button{
    background: #444654;
    color: white;
    border: 1px  solid   #565869;
    padding: 8px  15px;
    margin: 0  5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}
.controles-filtro button :hover{
    background-color: #565869;
  
}

/* modificamos el mensajes-container
-mensajes uno debajo del otro
-scroll vertical
-simulacion real de chat
 */

.mensajes-container{
    flex-grow: 1; /*Mensajes ocupan el centro*/
    padding: 20px  40px;
    display: flex;
    /* se agrega el flex-direction : column por ser chat */
    flex-direction: column;
    /* flex-start: colocar elementos al inicio del contenedor */
    justify-content: flex-start; 
    /*strech los elementos ocupan el ancho disponible*/
    align-items: stretch;
    overflow-y: auto;
}

/* burbujas */
.msg-usuario, .msg-ia{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    max-width: 80%;
    width: fit-content;
    line-height: 1.5;
    transition: all  0.3s  ease;
}
/* la burbuja de usuario se alinea a la derecha */
.msg-usuario {
    background-color: #19c37d;
    color: white;
    align-self: flex-end;
}
/* se alinea a la izquierda */
.msg-ia{
    background-color: #444654;
    color: #d1d1d1;
    align-self: flex-start;
}


/*5.FORMULARIO DE ENTRADA(input)*/
.input-area{
    padding: 20px 40px;

}

.chat-form{
    max-width: 700px;
    margin: 0 auto;/*Centra el formulario en el medio*/
    display: flex; /*ekl input y el botton en fila*/
    background-color: #40414f;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.chat-form input{
    flex-grow: 1; /*El input estira todo lo que puede*/
    background-color: transparent;
    border: none;/*Sin borde*/ 
    color: white;
    padding: 10px ;
    outline: none; /*Quita el borde azul al hacer click*/ 
    font-size: 1rem;
}
.chat-form button{
    background-color: #19c37d;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.chat-form button :hover{
    opacity: 0.9;
}

/* sr-only oculta sin eliminarlo dd html */
.sr-only {
    position: absolute;
    left:  -9999px;
}
/*boton peligro(borrar)*/
.controles-filtro .btn-peligro{
    background-color: #e74c3c;
    border:  1px solid  #c0392b;
}
.controles-filtro .btn-peligro :hover{
    background-color: #c0392b;
}
/*boton buscador*/
.buscador-container{
    text-align: center;
    padding: 10px;
    background-color:  #202123;
    border-bottom: 1px  solid  #4d4d4f;
}

.buscador-container input{
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    width: 60%;
    max-width: 400px;
    outline: none;
    font-size: 0.95rem;

}
.buscador-container button{
    background-color: #19c37d;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;

}

/* MAGIA RESPONSIVE - ADAPTANDO EL CHAT A MOVILES */
/* Si la pantalla es de tamaño tablet o movil (menos de 768px) */

@media (max-width: 768px) {
    /*Ocultamos menu lateral*/
    .sidebar{
        /* Hace que la barra desaparezca */
        display: none;
    }
    /* 2. Damos mas espacio al texto del chat */
    .mensajes-container{
        /* Reducir el padding */
        padding: 20px;
    }
    /* 3. Ajustamos el formulario para que quepa bien en pantallas estrechas */
    .input-area{
        padding: 15px;

    }
    .chat-form{
         padding: 5px;
    }
    .chat-form input {
        font-size: 0.9rem; /*letra mas pequeña*/
    }
    .chat-form button{
        padding: 8px 12px; /*boton mas compacto*/
    }
}

@media (max-width:480px){
    .chat-header h3 {
        font-size: 1.1rem ;  /*achicamos el titulo superior*/
    }
    
    .msg-usuario, .msg-ia{
        max-width: 90%;
        font-size: 0.95rem;
        
    }
}

