*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.foto img{
    background-color:white;
    padding: 50px;
    margin: 0  auto;
    display: block;
    text-align: center;
    
}

.nombre{
    background: white;
    margin: 10px  auto;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    width: 50%;
}
.texto{
    background: white;
    margin: 10px  auto;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
    width: 50%;
}

.Btn-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    margin:  10px auto;
    padding: 10px   20px;
    text-align: center;
    height: 40px;
    width: 30%;
    font-size: 30px;
    color: white;
     border-radius: 10px;
    
}


.Btn-add:hover{
    
    border-radius: 40px;
    border-color: rgb(16, 221, 153);
    

  }
  .Btn-add{
    cursor: pointer;
  }

@media(max-width:850px){
    
    .content h1{
        font-size: 45px;
        }
    }