/* 1. RESETEO BASICO */
/*  */
*{
    margin: 0;
    padding: 0;
    /* Hace que el tamaño de las cajas sea predecible */
    box-sizing: border-box;
}

body{
    background-color: blue;
    font-family: Arial,Helvetica, sans-serif; 
}

/* 2.PINTADO DE ZONAS PRINCIPALES */
header{
    /* background-color = color de fondo */
    background-color: green;
    /* color = color de fuente */    
    color: white;
    /* text align centra el texto */
    text-align: center;
    /* PADDING : Espacio hacia DENTRO de la caja */
    padding: 20px;

}


footer{
    background-color: black;
    color: white;
    text-align:center;
    padding:15px;
    /* MARGIN; Espacio haa AFUERA de la caja (Lo empuja hacia abajo) */
    margin-top: 20px;
}
/* 3.EL MODELO DE LA CAJA */

.caja{
    background-color: rgb(43, 226, 226);
    color:white; /*font-weight =negrita */
    font-size: 24px;
    /* font-weght bold= negrita */
    font-weight:bold;
    /* Damos formato a la caja */
    padding:30px; /*1. Engorda del borde de la caja*/
    border: 5px solid black; /* formato del borde de la caja */
    margin: 15px; /* separa esta caja de las otras */
    border-radius: 10x; /*formato del borde de la caja*/
}


.anuncio{
    background-color: beige;
    color: black;
    padding:40px;
    border-radius: 10px;
    margin: 15px;
    
}

/* 4.LA MAGIA DE FLEXBOX ( Poniendo orden) */
nav{
    background-color:yellow ;
    color: blue;
    padding: 15px;
    /* Activar flexbox */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Efecto hover: Cambia de color al pasar el cursor */
.link:hover{
    color: antiquewhite;
    /* Aparece la manita */
    cursor: pointer;
}
.caja:hover{
    color: antiquewhite;
    /* Aparece la manita */
    cursor: pointer;
    background-color: blueviolet;
}
                                                               